
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/.env.bot.local
/.env.bot.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> Fichiers confidentiels et production ###
INFOS-O2SWITCH.md
*.pid
logs/
backups/
bot.log
###< Fichiers confidentiels et production ###

###> Documentation ###
*.md
!README.md
###< Documentation ###
