{% extends 'admin/base.html.twig' %}
{% set title = "Créer une nouvelle balise" %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}
	<div class='admin-title'>
		<h1><i class="material-icons">code</i> {{ title }}</h1>
	</div>

	<div class='admin-form'>
		<div class='admin-form-container'>
			{{ include('admin/balises/_form.html.twig') }}
		</div>
	</div>
{% endblock %}