section#footer{background:#2c3055;color:#fff}
section#footer .footer-container{padding:4em 0;max-width:1600px;margin:auto;display:grid;grid-template-columns: repeat(3, 1fr);}
section#footer .footer-container div{margin:1em}
section#footer .footer-container .footer-buttons{}
section#footer .footer-container .footer-buttons .footer-button{text-align: center;}
section#footer .footer-container .footer-buttons .footer-button a{padding:.5em 1.25em;text-transform: uppercase;margin:1em auto;display:block;width:fit-content;font-family:'CA - Gotham',Helvetica,Arial,Lucida,sans-serif}
section#footer .footer-container .footer-buttons .footer-button a span{}
section#footer .footer-container .footer-buttons .footer-button#sub{}
section#footer .footer-container .footer-buttons .footer-button#sub a{color: #FFFFFF!important;border-color: #FFFFFF;background-image: linear-gradient(198deg,#2b87da 0%,#af2323 100%);background-color: #0C71C3;}
section#footer .footer-container .footer-buttons .footer-button#carry {}
section#footer .footer-container .footer-buttons .footer-button#carry a{color: #3d3d3d!important;border-color: #FFFFFF;background-image: linear-gradient(200deg,#ffffff 0%,#ffd700 100%);background-color: #ffd400;}
section#footer .footer-container .footer-buttons .footer-button#newsletterButton {}
section#footer .footer-container .footer-buttons .footer-button#newsletterButton a{background-color: #c33343;border-color: #E02B20;}
section#footer .footer-container .footer-buttons .footer-button#contactButton {}
section#footer .footer-container .footer-buttons .footer-button#contactButton a{background-color: #c33343;border-color: #E02B20;}

section#footer .footer-container .footer-text{text-align: center;}
section#footer .footer-container .footer-text h4{font-size:24px;margin:0}
section#footer .footer-container .footer-text p{color:#fff;}
section#footer .footer-container .footer-text > a{background-color: #c33343;border-color: #E02B20;padding:.5em 1.25em;text-transform: uppercase;margin:1em auto;display:block;width:fit-content;font-family:'CA - Gotham',Helvetica,Arial,Lucida,sans-serif;height:auto}
section#footer .footer-container .footer-text ul{list-style:none;}
section#footer .footer-container .footer-text ul li{display:inline-block;margin:.5em}
section#footer .footer-container .footer-text ul li a{display: block;overflow: hidden;border-radius: 5px;}
section#footer .footer-container .footer-text ul li:hover a{background-color: #af2323;}
section#footer .footer-container .footer-text ul li a span{display:none}
section#footer .footer-container .footer-text ul li a:before{border:2px solid #c33343;font-family: ETmodules;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-shadow: 0 0;direction: ltr;height: 32px;width: 32px;font-size: 16px;line-height: 32px;display: block;color: #fff;-webkit-transition: color .3s;transition: color .3s;position: relative;z-index: 10;    border-radius: 5px;display: flex;align-items: center;justify-content: center;transition:all .3s ease-out}
section#footer .footer-container .footer-text .discord_link{background-color: transparent;border:0;}
section#footer .footer-container .footer-text .discord_link img{background: transparent;border: 0;max-height: 5em;width: auto;}














.et-social-facebook a.icon:before {
    content: "\e093"
}

.et-social-twitter a.icon:before {
    content: "\e094"
}

.et-social-google-plus a.icon:before {
    content: "\e096"
}

.et-social-instagram a.icon:before {
    content: "\e09a"
}

.et-social-rss a.icon:before {
    content: "\e09e"
}
.et-pb-social-fa-icon a.icon:before {
    font-family: FontAwesome
}

.et-social-telegram a.icon:before {
    content: "\F3FE"
}

.et-social-amazon a.icon:before {
    content: "\F270"
}

.et-social-bandcamp a.icon:before {
    content: "\F2D5"
}

.et-social-bitbucket a.icon:before {
    content: "\F171"
}

.et-social-behance a.icon:before {
    content: "\F1B4"
}

.et-social-buffer a.icon:before {
    content: "\F837"
}

.et-social-codepen a.icon:before {
    content: "\F1CB"
}

.et-social-deviantart a.icon:before {
    content: "\F1BD"
}

.et-social-flipboard a.icon:before {
    content: "\F44D"
}

.et-social-foursquare a.icon:before {
    content: "\F180"
}

.et-social-github a.icon:before {
    content: "\F09B"
}

.et-social-goodreads a.icon:before {
    content: "\F3A9"
}

.et-social-google a.icon:before {
    content: "\F1A0"
}

.et-social-houzz a.icon:before {
    content: "\F27C"
}

.et-social-itunes a.icon:before {
    content: "\F3B5"
}

.et-social-last_fm a.icon:before {
    content: "\F202"
}

.et-social-line a.icon:before {
    content: "\F3C0"
}

.et-social-medium a.icon:before,.et-social-meetup a.icon:before {
    content: "\F3C7"
}

.et-social-odnoklassniki a.icon:before {
    content: "\F263"
}

.et-social-patreon a.icon:before {
    content: "\F3D9"
}

.et-social-periscope a.icon:before {
    content: "\F3DA"
}

.et-social-quora a.icon:before {
    content: "\F2C4"
}

.et-social-researchgate a.icon:before {
    content: "\F4F8"
}

.et-social-reddit a.icon:before {
    content: "\F281"
}

.et-social-snapchat a.icon:before {
    content: "\F2AC"
}

.et-social-soundcloud a.icon:before {
    content: "\F1BE"
}

.et-social-spotify a.icon:before {
    content: "\F1BC"
}

.et-social-steam a.icon:before {
    content: "\F3F6"
}

.et-social-tripadvisor a.icon:before {
    content: "\F262"
}

.et-social-tiktok a.icon:before {
    content: "\E07B"
}

.et-social-twitch a.icon:before {
    content: "\F1E8"
}

.et-social-vk a.icon:before {
    content: "\F189"
}

.et-social-weibo a.icon:before {
    content: "\F18A"
}

.et-social-whatsapp a.icon:before {
    content: "\F232"
}

.et-social-xing a.icon:before {
    content: "\F168"
}

.et-social-yelp a.icon:before {
    content: "\F1E9"
}

.et-social-pinterest a.icon:before {
    content: "\E095"
}

.et-social-linkedin a.icon:before {
    content: "\E09D"
}

.et-social-tumblr a.icon:before {
    content: "\E097"
}

.et-social-skype a.icon:before {
    content: "\E0A2"
}

.et-social-flikr a.icon:before {
    content: "\E0A6"
}

.et-social-myspace a.icon:before {
    content: "\E0A1"
}

.et-social-dribbble a.icon:before {
    content: "\E09B"
}

.et-social-youtube a.icon:before {
    content: "\E0A3"
}

.et-social-vimeo a.icon:before {
    content: "\E09C"
}

.et-social-telegram a.icon:before {
    content: "\F3FE"
}

.et-social-amazon a.icon:before {
    content: "\F270"
}

.et-social-bandcamp a.icon:before {
    content: "\F2D5"
}

.et-social-bitbucket a.icon:before {
    content: "\F171"
}

.et-social-behance a.icon:before {
    content: "\F1B4"
}

.et-social-buffer a.icon:before {
    content: "\F837"
}

.et-social-codepen a.icon:before {
    content: "\F1CB"
}

.et-social-deviantart a.icon:before {
    content: "\F1BD"
}

.et-social-flipboard a.icon:before {
    content: "\F44D"
}

.et-social-foursquare a.icon:before {
    content: "\F180"
}

.et-social-github a.icon:before {
    content: "\F09B"
}

.et-social-goodreads a.icon:before {
    content: "\F3A9"
}

.et-social-google a.icon:before {
    content: "\F1A0"
}

.et-social-houzz a.icon:before {
    content: "\F27C"
}

.et-social-itunes a.icon:before {
    content: "\F3B5"
}

.et-social-last_fm a.icon:before {
    content: "\F202"
}

.et-social-line a.icon:before {
    content: "\F3C0"
}

.et-social-medium a.icon:before,.et-social-meetup a.icon:before {
    content: "\F3C7"
}

.et-social-odnoklassniki a.icon:before {
    content: "\F263"
}

.et-social-patreon a.icon:before {
    content: "\F3D9"
}

.et-social-periscope a.icon:before {
    content: "\F3DA"
}

.et-social-quora a.icon:before {
    content: "\F2C4"
}

.et-social-researchgate a.icon:before {
    content: "\F4F8"
}

.et-social-reddit a.icon:before {
    content: "\F281"
}

.et-social-snapchat a.icon:before {
    content: "\F2AC"
}

.et-social-soundcloud a.icon:before {
    content: "\F1BE"
}

.et-social-spotify a.icon:before {
    content: "\F1BC"
}

.et-social-steam a.icon:before {
    content: "\F3F6"
}

.et-social-tripadvisor a.icon:before {
    content: "\F262"
}

.et-social-tiktok a.icon:before {
    content: "\E07B"
}

.et-social-twitch a.icon:before {
    content: "\F1E8"
}

.et-social-vk a.icon:before {
    content: "\F189"
}

.et-social-weibo a.icon:before {
    content: "\F18A"
}

.et-social-whatsapp a.icon:before {
    content: "\F232"
}

.et-social-xing a.icon:before {
    content: "\F168"
}

.et-social-yelp a.icon:before {
    content: "\F1E9"
}

.et-social-pinterest a.icon:before {
    content: "\E095"
}

.et-social-linkedin a.icon:before {
    content: "\E09D"
}

.et-social-tumblr a.icon:before {
    content: "\E097"
}

.et-social-skype a.icon:before {
    content: "\E0A2"
}

.et-social-flikr a.icon:before {
    content: "\E0A6"
}

.et-social-myspace a.icon:before {
    content: "\E0A1"
}

.et-social-dribbble a.icon:before {
    content: "\E09B"
}

.et-social-youtube a.icon:before {
    content: "\E0A3"
}

.et-social-vimeo a.icon:before {
    content: "\E09C"
}
.et-pb-social-fa-icon a.icon:before {
    font-family: FontAwesome!important
}