header#header{background:#fff;position:fixed;top:0;left:0;width:100%;z-index: 999;box-shadow: 0.1em 0.1em 1em #0000006b;}
header#header .header-container{max-width:1600px;margin:auto}
header#header .header-container .grid{display:grid;grid-template-columns: 30% 70%;align-items:center}
header#header .header-container .grid .row{margin:.5em;}
header#header .header-container .grid .row img{height:5em;width:auto}
header#header .header-container .grid .row ul{}
header#header .header-container .grid .row ul li{display:inline-block;margin:0 .5em;font-size:1.2em;font-weight:bold;color:#000;border-bottom:1px solid transparent;transition:all .3s ease-out;cursor: pointer;}
header#header .header-container .grid .row ul li:hover{border-color:red}




#footer{min-height:30vh;width:100%;background:grey;display:flex;align-items: center;justify-content: center;}
#footer p{color:#000;text-align: center;}