{{ form_start(form) }}
	<div class="informations-row">
		<div class="information-label">{{ form_label(form.content) }}</div>
		<div class="information">{{ form_widget(form.content) }}</div>
	</div>
	<button type="submit">Soumettre les modifications</button>
{{ form_end(form) }}


