
<section id='footer'>
    <div class='footer-container section-container'>
		<div class='footer-buttons'>
			<div class='footer-button' id='sub'>
				<a href='https://cerclearistote.fr/produit/adhesion-au-cercle-aristote/'><span>Devenez adhérent</span></a>
			</div>
			<div class='footer-button' id='carry'>
				<a href='https://cerclearistote.fr/nous-soutenir/'><span>nous soutenir</span></a>
			</div>
			<div class='footer-button' id='newsletterButton'>
				<a href='https://cerclearistote.fr/newsletter/'><span>newsletter</span></a>
			</div>
			<div class='footer-button' id='contactButton'>
				<a href='https://cerclearistote.fr/contact/'><span>contactez-nous</span></a>
			</div>
		</div>

		<div class='footer-text'>
			<h4>© Cercle Aristote</h4>
			<p><strong>Le cercle recrute !</strong></p>
			<p>Administratif, relations publiques, web, événementiel, animation, réseaux sociaux, etc.</p>
			
			<a href='https://cerclearistote.fr/recrutement/' class='btn'>recrutements</a>
		</div>
		<div class='footer-text'>
			<ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0_tb_footer clearfix  et_pb_text_align_center et_pb_bg_layout_light">
				<li class="et_pb_with_border et_pb_social_media_follow_network_0_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-facebook"><a href="https://www.facebook.com/lecerclearistote/" class="icon et_pb_with_border" title="Suivez sur Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_1_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitter"><a href="https://twitter.com/Cercle_Aristote?s=20&amp;t=MK1yrD_BPet2EO2tBQBrzA" class="icon et_pb_with_border" title="Suivez sur Twitter" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_2_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-youtube"><a href="https://www.youtube.com/c/CercleAristote" class="icon et_pb_with_border" title="Suivez sur Youtube" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_3_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-tiktok et-pb-social-fa-icon"><a href="https://www.tiktok.com/@cerclearistote" class="icon et_pb_with_border" title="Suivez sur TikTok" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_4_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-linkedin"><a href="https://www.linkedin.com/in/pierre-yves-rougeyron-21854974/recent-activity/posts/" class="icon et_pb_with_border" title="Suivez sur LinkedIn" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_5_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-linkedin"><a href="https://www.linkedin.com/company/le-cercle-aristote/posts/" class="icon et_pb_with_border" title="Suivez sur LinkedIn" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_6_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-instagram"><a href="https://www.instagram.com/cercle_aristote/" class="icon et_pb_with_border" title="Suivez sur Instagram" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_7_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-pinterest"><a href="https://www.instagram.com/cercle_aristote/" class="icon et_pb_with_border" title="Suivez sur Pinterest" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_8_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-vk et-pb-social-fa-icon"><a href="https://vk.com/id467737129" class="icon et_pb_with_border" title="Suivez sur VK" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_9_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-telegram et-pb-social-fa-icon"><a href="https://t.me/lecerclearistoteofficiel" class="icon et_pb_with_border" title="Suivez sur Telegram" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_10_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-vimeo"><a href="https://vimeo.com/lecerclearistote" class="icon et_pb_with_border" title="Suivez sur Vimeo" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_11_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-rss"><a href="#" class="icon et_pb_with_border" title="Suivez sur RSS" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
				<li class="et_pb_with_border et_pb_social_media_follow_network_12_tb_footer et_pb_social_icon et_pb_social_network_link  et-social-twitch et-pb-social-fa-icon"><a href="https://www.twitch.tv/cercle_aristote" class="icon et_pb_with_border" title="Suivez sur Twitch" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>

			</ul>

			<a href="https://discord.gg/BxEjfNvSuD" class='discord_link'><span class=""><img decoding="async" loading="lazy" width="948" height="261" src="https://cerclearistote.fr/wp-content/uploads/2022/12/discord-logo.png" alt="" title="discord logo" srcset="https://cerclearistote.fr/wp-content/uploads/2022/12/discord-logo.png 948w, https://cerclearistote.fr/wp-content/uploads/2022/12/discord-logo-480x132.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 948px, 100vw" class="wp-image-37533"></span></a>

    	</div>
    </div>
</section>