*{font-family: 'CA-Butler Stencil',Helvetica,Arial,Lucida,sans-serif;}

body{margin-top:0!important;}

.material-icons.green{background-color:transparent!important;color:#4CAF50!important}
.material-icons.red{background-color:transparent!important;color:#F44336!important}
.material-icons.orange{background-color:transparent!important;color:#ff9800!important}
.material-icons.blue{background-color:transparent!important;color:#2c3055!important}


#dialog{}
#dialog .admin-form-container{width:fit-content;margin:2em auto}
#dialog{}
#dialog form{}
#dialog form .form-row{display:grid;grid-template-columns: 50% 50%;margin:1em 0}
#dialog form .form-row label{font-size:1em;color:#000;}
#dialog form .form-row input{}
#dialog form .form-row textarea{min-height:12em}


.dropdown-content li > a, .dropdown-content li > span{color:#000}




input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{border-bottom: 1px solid #2c3055;box-shadow: 0 1px 0 0 #2c3055;}