a{color:inherit}

button{cursor:pointer}

.blue{background-color: #2c3055 !important;border-color:#2c3055!important;cursor: pointer;}
.blue:hover {background-color: #fff !important;}
.blue:hover *{color: #2c3055 !important;fill:#2c3055!important}

form .input-field{max-width: 30em;margin: 2rem auto;}

nav {background:#2c3055}
nav > a{display:block!important;}
nav #slide-out{}
nav #slide-out::-webkit-scrollbar {width: 0.5em;}
nav #slide-out::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
nav #slide-out::-webkit-scrollbar-thumb {background-color: #2c3055;outline: 1px solid slategrey;}
nav #slide-out li{}
nav #slide-out li:has(a.subheader){line-height:20}
nav #slide-out li .user-view{height:10Em}
nav #slide-out li .user-view .background{}
nav #slide-out li .user-view .background-filter{position:absolute;left:0;top:0;width:100%;height:100%;background:#0000008c}
nav #slide-out li .user-view .background img{width:100%;}
nav #slide-out li .user-view > a {position:relative}
nav #slide-out li .user-view .circle{width: 10em;height: auto;border: 0;border-radius: 0;}


#page{margin:2em 0}


.admin-title{max-width:70em;width:100%;margin:auto;}
.admin-title h1{margin:0;font-family:'CA-Butler Stencil',Helvetica,Arial,Lucida, sans-serif;color:#000;font-size:2.5em}
.admin-title h1 > span{font-style: italic;white-space: nowrap;overflow: hidden;font-size: .6em;display: block;text-align: left;text-decoration: underline;margin-left: 3em;}

#back-to-dashboard{margin-left: 2em;background: #fff;padding: 0.5em 2em;border-radius: 2em;border: 0.1em solid #2c3055;transition:all .3s ease-out}
#back-to-dashboard:hover{background:#2c3055;color:#fff}


.table-admin{max-width:100em;margin:3em auto 0;}
.table-admin > h2{font-size:2em;color:#000;font-family:'CA-Butler Stencil',Helvetica,Arial,Lucida;margin:0 0 1em;}
.table-admin .table-buttons{margin:1em 0}
.table-admin .table-buttons .button{width:auto;height:auto;border-radius:50%;display:flex;float:right;background:#fff;align-items:center;justify-content:center;position:relative;min-height:3em;min-width:3em;border:.1em solid #ff9800;transition:all .3s ease-out;cursor:pointer;margin:0 1.5em}
.table-admin .table-buttons .button span{display:flex;background:transparent;color:#fff}
.table-admin .table-buttons .button:hover{background-color: transparent!important;}
.table-admin .table-buttons .button:hover span{color:#ff9800;}

.table-admin .table-buttons .button.orange{background:#2c3055;border-color:#ff9800;}
.table-admin .table-buttons .button.orange span{color:#fff}

.table-admin .table-buttons .button.text{border-radius: 1em;}
.table-admin .table-buttons .button.text span{display: flex;padding: 0 1.5em;align-items: center;}

.table-admin .table-search{}
.table-admin .table-search .input-field{width:max-content}
.table-admin .table-search .input-field input{background:#fff;max-width:20em;border-radius:2em;padding:0 2em;font-size:1em;line-height:1}
.table-admin .table-search .input-field label{color:#2c3055;left:2em;max-width: 20em;}
.table-admin .table-search .input-field label.active{color:#fff!important}
.table-admin .table-container{}
.table-admin .table-container table{width:100%;background:#fff;}
.table-admin .table-container table thead{background:#2c3055}
.table-admin .table-container table thead th{color:#fff;border-color:#fff;text-align:center;padding: 0.5em 1em!important;height: 100%;font-size: 1.25em;border-right:1px solid;cursor:pointer}
.table-admin .table-container table thead th.sortable::after{content: "";display: block;width:20px;height: 20px;background-image:/* url('/assets/img/icons/research.png')*/();background-repeat:no-repeat;background-size:contain;background-position:center;position: absolute;top: .5em;right: .5em;}

.table-admin .table-container table thead th:last-child{border-right:0}

.table-admin .table-container table tbody{}
.table-admin .table-container table tbody tr{}
.table-admin .table-container table tbody tr td{text-align:center;max-width: 300px;overflow: hidden;}
.table-admin .table-container table tbody tr td a i{color:#fff}
.table-admin .table-container table tbody tr td .medal{float:left;width:2.5em;height:2.5em;border-radius:50%;display:flex;align-items:center;justify-content:center}
.table-admin .table-container table tbody tr td .medal i{color:#fff;}
.table-admin .table-container table tbody tr td.actions{text-align:right;}
.table-admin .table-container table tbody tr td.actions .action{max-width:10em;display:inline-block}
.table-admin .table-container table tbody tr td.actions .action i{color:#fff;}




.admin-form .admin-form-container{width: 60%; background-color: #fff; padding: 3em; margin: 4em 20em auto;border-radius:5em;text-align:center;}
.admin-form .admin-form-container form{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em;text-align:center;display:block;margin:0 auto;width: auto;min-width: 20em;line-height:2;  position: relative;}
.admin-form .admin-form-container form h3{color: #2c3055;}da-background-image{position:absolute;left:0;top:0;z-index:4;background-repeat:no-repeat;background-size:contain;background-position:center;width:100%;height:100%;}

.admin-form .admin-form-container form > .role-field{display: flex; flex-direction: column; margin: 2em 6em;}
.admin-form .admin-form-container form > .role-field label{margin-bottom: 1em;}
.admin-form .admin-form-container form > .role-field #admin_user_role{display: flex; flex-direction: row; margin: 0 auto; line-height: 1em;}
.admin-form .admin-form-container form > .role-field #admin_user_role input{opacity: 1; position: static; margin: 0 1em 0 3em;}
.admin-form .admin-form-container form > .role-field #admin_user_role span{display: none;}

.admin-form .admin-form-container form > .identity-fields{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em; margin: 2em 6em;}
.admin-form .admin-form-container form > .identity-fields .name-fields{display: grid; grid-template-columns: 50% 50%;}
.admin-form .admin-form-container form .identity-fields .name-fields #lastname-field{margin: 1em;}
.admin-form .admin-form-container form > .identity-fields .name-fields #firstname-field{margin: 1em;}

.admin-form .admin-form-container form > .address-fields{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em; margin: 2em 6em;}
.admin-form .admin-form-container form > .address-fields #street-field{margin: 1em;}
.admin-form .admin-form-container form > .address-fields .city-postal-fields{display: grid; grid-template-columns: 30% 70%;}
.admin-form .admin-form-container form > .address-fields .city-postal-fields #postal-field{margin: 1em;}
.admin-form .admin-form-container form > .address-fields .city-postal-fields #city-field{margin: 1em;}

.admin-form .admin-form-container form > .mail-phone-fields{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em; margin: 2em 6em;}
.admin-form .admin-form-container form > .mail-phone-fields #phone-field{margin: 1em;}
.admin-form .admin-form-container form > .mail-phone-fields #mail-fields{margin: 1em;}

.admin-form .admin-form-container form > #password-fields{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em; margin: 2em 6em;}
.admin-form .admin-form-container form > #password-fields div{margin: 1em;}

.admin-form .admin-form-container form > button{box-shadow:none;background:#2c3055;color:#000;font-size:1.25em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin: 1em auto 2em;}
.admin-form .admin-form-container form > button:hover{background-color:#fff;color:#2c3055;}


#page .admin-form .admin-form-container .informations-column{margin: 0 auto 3em;}
#page .admin-form .admin-form-container .informations-column .informations-row{display:grid;grid-template-columns: 50% 50%;margin-bottom:1em;}
#page .admin-form .admin-form-container .informations-column .informations-row.widget{display:block;font-size:1Em;}
#page .admin-form .admin-form-container .informations-column .informations-row .information-label{color:#2c3055;font-size:1.5em;font-weight:400;min-width: 150px;display: inline-flex;width:100%;align-items: center;}
#page .admin-form .admin-form-container .informations-column .informations-row .information{position:relative;font-size:1em;width:-webkit-fill-available;text-align: center;max-width:20em; color:rgba(0, 0, 0, 0.350);margin-bottom: 0;min-height: 2.5em;height:auto}
#page .admin-form .admin-form-container .informations-column .informations-row.widget .information-widget{}
#page .admin-form .admin-form-container .informations-column .informations-row.widget .information-widget textarea{font-size:1em;width:100%;height:auto;min-height:10em}
#page .admin-form .admin-form-container form > a{box-shadow:none;background:#2c3055;color:#000;font-size:1.25em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin-top: 2em;}
#page .admin-form .admin-form-container form > a:hover{background-color:#fff;color:#2c3055;}


#page .admin-form#addresses-form .admin-form-container .informations-column{width: 75%;margin: 0 auto 3em;}





.admin-edit-form .admin-edit-form-container{background-color: #fff; padding: 3em; margin: auto;border-radius:5em;text-align:center;}
.admin-edit-form .admin-edit-form-container form{padding:.25em 1em;border:.1em solid #2c3055;border-radius:2em;text-align:center;display:block;margin:0 auto;width: auto;min-width: 20em;font-size:1.5em;line-height:2;  position: relative;}
.admin-edit-form .admin-edit-form-container .informations-column{margin: 0 auto 3em;}
.admin-edit-form .admin-edit-form-container .informations-column .informations-row{display:grid;grid-template-columns: 50% 50%;margin-bottom:.8em;}
.admin-edit-form .admin-edit-form-container .informations-column .informations-row .information-label{color:#2c3055;font-size:.8em;font-weight:400;min-width: 150px;display: inline-block;width:100%; text-align: left;}
.admin-edit-form .admin-edit-form-container .informations-column .informations-row .information{font-size:.8em;width:-webkit-fill-available;text-align: center;max-width:20em; color:rgba(0, 0, 0, 0.350);margin-bottom: 0;height: 2.5em; text-align: left;}
.admin-edit-form .admin-edit-form-container > a{box-shadow:none;background:#2c3055;color:#000;font-size:1.25em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin-top: 2em;}
.admin-edit-form .admin-edit-form-container > a:hover{background-color:#fff;color:#2c3055;}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container button{box-shadow:none;background:#2c3055;color:#fff;font-size:1.25em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin: 1em auto 2em;}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container button:hover{background-color:#fff;color:#2c3055;}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container > a{box-shadow:none;background:#2c3055;color:#000;font-size:.8em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin: 1em auto 2em;}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container > a:hover{background-color:#fff;color:#2c3055;}

.admin-form .admin-form-container form > div >h2{font-size:2em;color:#2c3055;text-align: center;margin:1.5em 0;}

.admin-form .admin-form-container .subscription-column{width:60%;margin: 3em auto 3em;}
.admin-form .admin-form-container .subscription-column .subscription-row{display:grid;grid-template-columns: 50% 50%;margin-bottom:.8em;}
.admin-form .admin-form-container .subscription-column .subscription-row .subscription-label{color:#2c3055;font-size:.8em;font-weight:400;min-width: 150px;display: inline-block;width:100%; text-align: left;}
.admin-form .admin-form-container .subscription-column .subscription-row .subscription-input{font-size:.8em;width:-webkit-fill-available;text-align: center;max-width:20em; color:rgba(0, 0, 0, 0.350);margin-bottom: 0;height: 2.5em; text-align: left;}
.admin-form .admin-form-container button#submit-subscription{box-shadow:none;background:#2c3055;color:#000;font-size:.8em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin: 1em auto 2em;}
.admin-form .admin-form-container button#submit-subscription:hover{background-color:#fff;color:#2c3055;}
.admin-form .admin-form-container > div a{box-shadow:none;background:#2c3055;color:#000;font-size:.8em;font-weight:400;padding:.5em 1em;min-width:15em;border:.15em solid #2c3055;border-radius:3em;transition:all .3s ease-out; margin: 1em auto 2em;}
.admin-form .admin-form-container > div a:hover{background-color:#fff;color:#2c3055;}
.admin-form .admin-form-container > form a#show-user-page{width: fit-content;margin: 0;min-width: 0;padding: 0 1em;border: 0;}


.admin-form .admin-form-container .button#add-address{display: inline-flex;color: #fff;line-height: 1;padding: .25em;border-radius: 50%;height: 2.25em;width: 2.25em;text-align: center;align-items: center;justify-content: center;}



.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .admin-edit-form-container{min-height: 25em;}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .admin-edit-form-container > div{float: left;}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations{max-height:20em;overflow-y: scroll;display: inline-block;width: fit-content;overflow-x:hidden;background:#dcdde1}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations::-webkit-scrollbar {width: 0.5em;}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations::-webkit-scrollbar-track {background:#fff}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations::-webkit-scrollbar-thumb {background-color: #2c3055;}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations ul{width: fit-content;display: block;margin: 0;max-width:20em;padding:0}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations ul li{font-size:.8em;text-align: left;max-width: 20em;display: block;font-weight:300;text-align:left;padding:.5em 1.5em;cursor:pointer;transition: all .3s ease-out}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations ul li:hover{background-color: #32323220;}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations ul li.disabled{background:#353b48;color:#718093}
.admin-form .admin-form-container form[name=admin_user_seo_entities] > div .list-locations ul li.active{background:#fff;color:#2c3055;transform:scaleX(1.01)}


#save_seo{min-width:0}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container a.blue{width: fit-content;min-width: 0;display: flex}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container a.blue.disabled{background-color: #323232!important;border-color:#323232!important;cursor: help;}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container a.blue.disabled:hover{background-color: #323232!important;border-color:#323232!important}
.admin-form .admin-form-container form .admin-edit-form .admin-edit-form-container a.blue.disabled:hover *{color: #fff!important}


#dialog{}
#dialog > div{max-width:1250px}
#dialog .admin-form-container{margin:0 auto}
#dialog .admin-form-container form{}
#dialog .admin-form-container form div div select{font-size:1em;margin:auto;min-width:15em}
#dialog .admin-form-container form div div select option{}
#dialog .admin-form-container form button{font-size:1em;}



form[name=admin_balises]{}
form[name=admin_balises] textarea{height: 10em;width: auto;min-width: 30vw;resize: none;}